<% @quilts.each do |quilt| %>
  <h1><%= quilt.name %></h1>
  <% quilt.image_url_list.each do |image| %>
  <h4><img src="<%= image %>"></h4>
  <% end %>
  <h4>Price: <%= quilt.price %></h4>
  <h4>Size: <%= quilt.size %></h4>
  <p><%= quilt.description %></p>
  <p>Tax: <%= quilt.tax.round(2) %></p>
  <p>Total: <%= quilt.total %></p>
  <p>Supplier: <%= quilt.supplier.name %></p>
  <a href="/quilts/<%= quilt.id %>"><button>Quilt Info</button></a>
<% end %>