<h1><%= @quilt.name %></h1>
<h4><%= @quilt.price %></h4>
<h4><%= @quilt.size %></h4>
<p><%= @quilt.description %></p>
<p><%= @quilt.tax %></p>
<p><%= @quilt.total %></p>
<p><%= @quilt.supplier.name %></p>
<a href="/quilts"><button>Back to all quilts</button></a><br>
<a href="/quilts/<%= @quilt.id %>/edit"><button>Edit this quilt</button></a><br>
<a href="/quilts/<%= @quilt.id %>"data-method="delete"><button>Delete this quilt</button></a>
